<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="NUnit" type="log4net.Appender.ConsoleAppender, Simple">
    <layout type="log4net.Layout.PatternLayout,Simple">
      <param name="ConversionPattern" value="%-5p - %m%n" />
    </layout>
  </appender>

  <root>
    <level value="INFO"/>
    <appender-ref ref="NUnit"/>
  </root>
  <!--<logger name="NHibernate">
    <level value="ALL"></level>
  </logger>-->
</log4net>
