body
{
    background: #102c47 url(avalon/main-bg.png) repeat-x;
    font-family: Trebuchet MS, sans-serif;
}

div.container
{
    width: 1000px;
    margin: auto;
}

div.header
{
    height: 115px;
}

div.header div.menu
{
    vertical-align: bottom;
    float: right;
    margin-top: 60px;
}

div.header div.menu ul
{
    bottom: 0px;
    right: 0px;
    list-style: none;
}

div.header div.menu li
{
    float: left;
}

div.header div.menu li a
{
    color: white;
    font-style: normal;
    margin: 5px 0px 5px 12px;
    padding: 5px 30px;
    background: #3b5268;
    font-weight: bold;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div.header div.menu li a:hover
{
    background: #5b7288;
}

div.header span.logo
{
    color: white;
    font-size: 48pt;
    height: 89px;
    min-width: 208px;
    margin: 20px 0 0 35px;
    float: left;
    display: block;
    text-shadow: 0px 0px 6px white;
}


div.content
{
    min-height: 500px;
    background: white url(avalon/content-bg.png) repeat-x;
    padding: 15px 45px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

div.footer
{
    color: white;
    font-size: 0.8em;
    text-align: center;
}

div.footer a
{
    color: white;
    font-weight: bold;
}

a
{
    text-decoration: none;
}
table
{
    background: #102c47;
    border: #102c47 2px solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-spacing: 0;
    min-width: 300px;
}

table th
{
    padding: 4px 5px;
    color: White;
    text-align: left;
}
table td
{
    background: White;
    padding: 4px;
    border: 0;
}

table tr:last-child td:first-child
{
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

table tr:last-child td:last-child
{
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

table.collapsed
{
    border-collapse: collapse;
}
h1, h2, h3, h4, h5, h6
{
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    padding-top: 0;
    padding-bottom: 0;
}

div.form-title > h2
{
    margin-bottom: 0;
}
div.form-title > p
{
    margin-top: 0;
    margin-bottom: 0;
}
div.form-title
{
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}

fieldset
{
    border: none;
    margin: 0;
    padding: 0;
}


fieldset label
{
    display: block;
    font-weight: bold;
}

textarea
{
    overflow: auto;
}

input, select, textarea
{
    font-family: Trebuchet MS, sans-serif;
}

input[type=text], input[type=password], select, textarea
{
    border: 1px solid gray;
    width: 400px;
    padding: 4px;
    font-size: 1em;
}

input[type=text]:hover, input[type=password]:hover, select:hover, textarea:hover
{
    border: 1px solid black;
}

.input-validation-error
{
    border: 2px solid red !important;
}

input[type=submit], input[type=button], a.button, a.backlink
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 0.9em;
    height: 32px;
    cursor: pointer;
    font-weight: bold;
    padding: 6px;
    color: white;
    background-color: #102c47;
    border: none;
}

a.button, a.backlink
{
    padding-top: 7px;
    padding-bottom: 7px;
}

table a.button
{
    padding: 4px;
    margin: 3px;
    font-size: 0.8em;
}

input[type=submit]:hover, input[type=button]:hover, a.button:hover, a.backlink:hover
{
    background-color: #304c67;
}

input[type=submit]:active, input[type=button]:active, a.button:active, a.backlink:hover
{
    background-color: #809cb7;
}

fieldset input[type=checkbox] + label
{
    display: inline;
}

div.simple-notification-error
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #800000;
    border: 2px solid #cc0000;
    background: white url(avalon/error-bg.png) repeat-x;
    margin: 5px 0;
    padding: 0px 10px;
}

div.simple-notification-success
{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #008000;
    border: 2px solid #00aa00;
    background: white url(avalon/success-bg.png) repeat-x;
    margin: 5px 0;
    padding: 0px 10px;
}

div.simple-notification-success span, div.simple-notification-error span
{
    font-weight: bold;
}

div.simple-notification-success ul, div.simple-notification-error ul
{
    font-size: 0.9em;
}

div.http_error
{
    border: 2px solid red;
    width: 870px;
    height: 306px;
    background: url(avalon/http-error.png) no-repeat;
    margin: auto;
    text-align: right;
    margin-top: 50px;
    padding-right: 30px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

div.http_error > div.default
{
    margin-top: 50px;
    width: 580px;
    float: right;
}

div.http_error > div.stacktrace
{
    clear:both;
}
div.http_error span
{
    font-size: 15pt;
    text-align: right;
    word-wrap: break-word;
    clear: both;
}

div.http_error h1
{
    margin: 0;
    font-weight: normal;
    text-shadow: 1px 1px 1px gray;
    font-size: 30pt;
    text-align: right;
    word-wrap: break-word;
}

div.http_error pre
{
    text-align: left;
    overflow: auto;
    float: right;
    width: 600px;
    height: 230px;
}

div.http_error a
{
    display: block;
    clear: both;
    float: right;
}

a.home_action
{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #BBBBBB;
    padding: 5px;
    background-color: white;
    color: #666666;
    display: block;
}

a.home_action:hover 
{
    color:Black;
    background-color: #EEEEEE;
    border: 2px solid black;
}

hr
{
	clear: both;
}