a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0.6em;
	margin-bottom: 0.6em;
	padding-top: 0;
	padding-bottom: 0;
}

div.title > h2 {
	margin-bottom: 0;
}
div.title > p {
	margin-top: 0;
	margin-bottom: 0;
}
div.title {
	border-bottom: 1px solid gray;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}


fieldset  label {
	display: block;
	font-weight: bold;
}

input, select{
	font-family: Trebuchet MS, sans-serif;
}

input[type=text], input[type=password], select {
	border: 1px solid gray;
	width: 400px;
	padding: 4px;
	font-size: 1em;
}

input[type=text]:hover, input[type=password]:hover select:hover{
	border: 1px solid black;
}

input[type=submit], input[type=button], a.button {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
	font-size: 0.9em;
	cursor: pointer;
	font-weight: bold;
	padding: 6px;
	color:white;
	background-color: #102c47;
	border: none;
}

input[type=submit]:hover, input[type=button]:hover, a.button:hover {
	background-color: #304c67;
}

input[type=submit]:active, input[type=button]:active, a.button:active {
	background-color: #809cb7;
}

fieldset input[type=checkbox]+label {
	display: inline;
}

div.error {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
	border: 2px solid #a70000;
	background: #ff9f9f url(images/error-bg.png) repeat-x;
	margin: 5px 0;
	padding: 0px 10px;
}

div.success {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    border-radius: 4px;

	border: 2px solid #008000;
	background: #65ff5d url(images/success-bg.png) repeat-x;
	margin: 5px 0;
	padding: 0px 10px;
}

div.success span, div.error span {
	font-weight: bold;
}

div.success ul, div.error ul {
	font-size: 0.9em;
}
