<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="_DefaultBinding" maxReceivedMessageSize="1048576">
          <readerQuotas maxDepth="32" maxStringContentLength="65535" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Message">
            <transport clientCredentialType="None" />
            <message negotiateServiceCredential="true"
              algorithmSuite="TripleDesSha256Rsa15" establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>