bin/
obj/
*.suo
*.user
*.log

*.cache 
*.sln.cache
TestResult.xml

build/
pkg/

/site/
/src/GlobalInfo.cs
/src/Version.cs

/src-tools/base/src/GlobalInfo.cs
/src-tools/base/Simple.Gui.exe
/src-tools/base/lib/*.*
/src-tools/base/*.cache


/lib/NHibernate