using System;
using Sample.BusinessInterface.Rules;
using Sample.BusinessInterface.Domain;
using Sample.BusinessServer.DataAccess;
using SimpleLibrary.Rules;
using SimpleLibrary.ServiceModel;

namespace Sample.BusinessServer.Rules
{
	<#for(int i=0; i<100; i++) {#>
    public partial class EmpresaFuncionarioRules<#=i#> : BaseRules<EmpresaFuncionario>, IEmpresaFuncionarioRules<#=i#>
    {
    }
    <#}#>
}