<?xml version="1.0" encoding="utf-8" ?>
<basicLibrary>
  <threading>
    <defaultLockingProvider>
      <connectionStringName>PersistenceCS</connectionStringName>
      <tableName>lock_service</tableName>
      <typeColumn>type</typeColumn>
      <idColumn>id</idColumn>
      <semaphoreColumn>semaphore</semaphoreColumn>
      <data>data</data>
      <secondsToWait>10</secondsToWait>
    </defaultLockingProvider>
  </threading>
  
  <log4net>
    <root>
    </root>
  </log4net>
</basicLibrary>