.container
{
    background: url(images/background.png) repeat-x;
}

.bar
{
    left: 0;
    width: 100%;
    position: absolute;
    height: 364px;
    background: url(images/bar.png) center top no-repeat;
}

.bar .content
{
    width: 940px;
    margin: auto;
}

.bar img
{
    margin-top: 25px;
}


.bar .text
{
    text-align: right;
    float: right;
}

.bar h1 
{
    margin: 1em 0 5px 0;
    font-size: 60px;
    color: White;
    text-shadow: white 0 0 4px;
}

.bar span.code
{
    font-size: 28pt;
    font-family: Consolas;
    color: White;
    display: block;
    text-shadow: white 0 0 4px;
}

.bar .download
{
    margin-top: 30px;
    background: url(images/download.png) no-repeat left top;
    height: 84px;
    width: 300px;
    display: inline-table;
    float: right;
}

.slider 
{
    margin-top: 50px;
    float: left;
    text-align: center;
    -webkit-box-shadow: 3px 3px 5px black;
    -moz-box-shadow: 3px 3px 5px black;
    box-shadow: 3px 3px 5px black;
}

.slider img
{
	margin: 25px;
}


.slider img
{
	margin: auto;
	display: none;
}

.bar .download:hover 
{
    background: url(images/download.png) no-repeat -300px top;
}

.items 
{
    height: 100%;
    padding: 380px 40px 40px 40px;
}

.items .item
{
    width: 28%;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: top;
}

.items .item h1 
{
    font-family: Georgia, Serif;
    font-weight: normal;
    font-style: italic;
    font-size: larger;
}

.items .item p 
{
    font-size: small;
}

.items .with_separator 
{
    border-right: 1px #333333 solid;
}

.items .item a 
{
    font-family: Georgia, Serif;
    font-style: italic;
    font-size: small;
    color: #882222;
}

.items .item a:hover
{
    color: #CC5555;
}