body
{
    font-family: 'Trebuchet MS' , Helvetica, sans-serif;
}

.header
{
    height: 70px;
    padding: 0 30px;
}

.header ul
{
    float: right;
    list-style: none;
}

.header li
{
    float: left;
    margin: 10px;
}

.header li a
{
    text-decoration: none;
    color: #333333;
    font-size: 14pt;
}

.header li a:hover
{
    text-decoration: none;
    color: #777777;
    font-size: 14pt;
}

.logo
{
    background: url(images/livinglogo.png);
    width: 198px;
    height: 47px;
    display: block;
    float: left;
    margin: 10px 0px;
}

.container
{
    width: 1000px;
    margin: 0 auto;
}