body
{
    font-family: 'Trebuchet MS' , Helvetica, sans-serif;
}

.header
{
    height: 70px;
    padding: 0 30px;
}

.header ul
{
    float: right;
    list-style: none;
}

hr.bar
{
    left: 0;
    width: 100%;
    position: absolute;
    border: 3px solid #791B1B;
    border-left: 0px;
    border-right: 0px;
}

.header li
{
    float: left;
    margin: 10px;
}

.header li a
{
    text-decoration: none;
    color: #333333;
    font-size: 14pt;
}

.header li a:hover
{
    text-decoration: none;
    color: #777777;
    font-size: 14pt;
}

.logo
{
    background: url(images/livinglogo.png);
    width: 198px;
    height: 47px;
    display: block;
    float: left;
    margin: 10px 0px;
}

.container
{
    width: 1000px;
    margin: 0 auto;
}

.content
{
    padding: 20px 30px;
}

h1, h2, h3, h4
{
    font-family: Georgia, Serif;
    font-weight: normal;
    font-style: italic;
    text-shadow: 1px 1px #CCC;
}

h1
{
    font-size: xx-large;
}

h2 
{
    font-size: larger;
}