@model IEnumerable<Simple.Patterns.TaskRunner.Result>

@section header {
    @Html.Stylesheet("system_check.css")
}

@Html.PageTitle("System check", "System functions status")
@foreach (var item in Model)
{
    <div class="system_check_<%=item.ResultTypeTag%>">
        <span><strong>
            @item.Description</strong></span>
        <div>
            @item.Message</div>
    </div>
}
