<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Iesi.Collections" publicKeyToken="AA95F207798DFDB4" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.1.0" newVersion="1.0.1.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="AA95F207798DFDB4" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.1.0.4000" newVersion="2.1.0.4000"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NHibernate.Linq" publicKeyToken="444CF6A87FDAB271" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.0.4000" newVersion="1.0.0.4000"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
