<?xml version="1.0" encoding="utf-8" ?>
<backOffice>
  <fulfillment>
    <BNSAuthCode>771528</BNSAuthCode>
    <BNSClientID>1138</BNSClientID>
  </fulfillment>

  <order>
    <maxExtraNumberOrders>10</maxExtraNumberOrders>
  </order>

  <creditChecking>
    <condition type="NewCustomer">
      <minimumHits>3</minimumHits>
      <minimumAccountAge>42</minimumAccountAge>

      <properties>
        <group from="Location">
          <property>PostCode</property>
          <property>CityTown</property>
        </group>

        <group from="Customer">
          <property>DateOfBirth</property>
        </group>

        <group from="Customer">
          <property>ForeName</property>
          <property>Surname</property>
        </group>

        <group from="Service">
          <property>LandLineNumber</property>
        </group>
      </properties>
    </condition>
    
    <condition type="AddOnOrders">
      <minimumBalanceThreshold>1000.0</minimumBalanceThreshold>
    </condition>

    <condition type="NewOriginalCLI">
      <minimumHits>2</minimumHits>
      <minimumAccountAge>42</minimumAccountAge>

      <properties>
        <group from="Location">
          <property>PostCode</property>
          <property>CityTown</property>
        </group>

        <group from="Customer">
          <property>ForeName</property>
          <property>Surname</property>
        </group>

        <group from="Service">
          <property>LandLineNumber</property>
        </group>
      </properties>

    </condition>
    
  </creditChecking>


  <localized for="France">
    <payment>
      <merchantCode>ACNFRMNCUST</merchantCode>
      <currencyCode>EUR</currencyCode>
      <maxCreditCardUses>1000</maxCreditCardUses>
    </payment>
  </localized>
  <oi>2</oi>
</backOffice>