@{Layout = "~/Views/Shared/_Layout.cshtml";}
@model Author

@H.PageTitle("Details", "Extended information about Author.")

<fieldset>
    <p>
        @* @this.Literal(x => x.Name).Label("Name:") *@
    </p>
    <p class="buttons">
        @Html.ActionLink("back", "Index")
        @Html.ActionLink("edit", "Edit", new { id = Model.Id })
    </p>
</fieldset>