div.AspNet-FormView
{
	border: double 3px orange;
	background-color: #FFFFE0;
	clear: both;
	width: 80%;
	display: table;
}
div.AspNet-FormView
{
	padding: 10px 10px 10px 10px;
}
div .AspNet-FormView-Header
{
	padding: 0px 10px 10px 15px;
	font-size: small;
	font-weight: bold;
}
label.FormView
{
	vertical-align: top;
	display: block;
	float: left;
	text-align: right;
	width: 300px;
	padding: 5px 0px 5px 0px;
}

label.FormViewBreakLine
{
	clear: both;
}

div.FormButtons
{
	padding: 10px 0px 10px 0px;
	clear: both;
	display: block;
	float: left;
	width: 100%;
	text-align: right;
}
