body
{
	font-family: Verdana;
	font-size: x-small;
	overflow:hidden;
}
a:link, a:visited, a:active, img
{
	font-weight:bold;
	text-decoration: none;
	color: white;
	border: none 0px black;
}
a:hover
{
	font-weight: bold;
	color: White;
}
div #DadosUsuario
{
	color: White;
	position: absolute;
	right:15px;
}
div #LinkPreferencias
{
	position:relative;	
	width: 165px;
	text-align: center;
	padding: 5px 5px 5px 5px;
	background-image: url('../Imagens/fundoTransparente.png');
	background-repeat: repeat;	
}
div #Top
{
	width: 100%;
	border-top: solid 1px #666666;
	border-left: solid 1px #666666;
	border-right: solid 1px #666666;
	height:100px;
}
div #TopBannerLeft
{
	background-image: url( "../Imagens/LogoCCMLadoEsquerdo.png" );
	background-repeat: no-repeat;
	background-position: left;
	width: 380px;
	height: 100px;
	left: 10px;
	float: left;
}
div #TopBannerCenter
{
	float: left;
	background-image: url( "../Imagens/LogoCCMRepeat.png" );
	background-repeat: repeat-x;
	background-position: right;
	height: 100px;	
}
div #TopBannerRight
{
	float: right;
	background-image: url( "../Imagens/LogoCCMLadoDireito.png" );
	background-repeat: no-repeat;
	background-position: left;
	width: 80px;
	height: 100px;
}
