<?xml version="1.0" encoding="utf-8" ?>
<simpleLibrary>
  <business>
    <interfaceAssembly>Sample.BusinessInterface</interfaceAssembly>
    <serverAssembly>Sample.BusinessServer</serverAssembly>
    <rulesFactoryType>SimpleLibrary.Rules.DefaultRulesProvider`1,SimpleLibraryServer</rulesFactoryType>
    <rulesFactoryType>SimpleLibrary.ServiceModel.ServiceRulesProvider`1,SimpleLibraryCore</rulesFactoryType>
  </business>
  <serviceModel>
    <defaultBaseAddress>http://localhost:9001/</defaultBaseAddress>
    <serviceConfigurator type="SimpleLibrary.ServiceModel.SingletonServiceConfigurator, SimpleLibraryCore"/>
    <serviceConfigurator type="SimpleLibrary.ServiceModel.ErrorBehaviorServiceConfigurator, SimpleLibraryCore"/>
    <serviceConfigurator type="SimpleLibrary.ServiceModel.DebugServiceConfigurator, SimpleLibraryCore" enabled="true"/>
    <serviceConfigurator type="SimpleLibrary.ServiceModel.MetadataBehaviorServiceConfigurator, SimpleLibraryCore">
      <address>mex</address>
      <httpGetEnabled>true</httpGetEnabled>
    </serviceConfigurator>

    <defaultEndpoint>
      <bindingNameRef>_DefaultBinding</bindingNameRef>
      <bindingType>System.ServiceModel.WSHttpBinding, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089</bindingType>
      <address></address>

      <endpointConfigurator type="SimpleLibrary.ServiceModel.DataContractConfigurator, SimpleLibraryCore"/>
      <endpointConfigurator type="SimpleLibrary.ServiceModel.DefaultFaultsConfigurator, SimpleLibraryCore"/>
    </defaultEndpoint>

    <additionalEndpoints/>
  </serviceModel>
  <dataConfig>
    <nhibernateConfigFile>NHibernate.config</nhibernateConfigFile>
  </dataConfig>
</simpleLibrary>