<?xml version="1.0" encoding="utf-8" ?>
<simpleLibrary>
  <business>
    <interfaceAssembly name="Sample.BusinessInterface"/>
    <serverAssembly name="Sample.BusinessServer"/>
    <rulesFactoryType name="SimpleLibrary.Rules.DefaultRulesProvider`1,SimpleLibraryServer"/>
    <rulesFactoryType name="SimpleLibrary.ServiceModel.ServiceRulesProvider`1,SimpleLibraryCore"/>

    <filters ignoreCaseDefault="false"/>

    <exceptionHandling>
      <type name="SimpleLibrary.DataAcess.DefaultExceptionHandler,SimpleLibraryServer"/>
      <type name="Sample.BusinessServer.Infra.CustomExceptionHandler,Sample.BusinessServer"/>
    </exceptionHandling>
  </business>

  <serviceModel>
    <defaultBaseAddress>http://localhost:9001/</defaultBaseAddress>
    <serviceConfiguratorType name="SimpleLibrary.ServiceModel.SingletonServiceConfigurator, SimpleLibraryCore"/>
    <serviceConfiguratorType name="SimpleLibrary.ServiceModel.ErrorBehaviorServiceConfigurator, SimpleLibraryCore"/>
    <serviceConfiguratorType name="SimpleLibrary.ServiceModel.DebugServiceConfigurator, SimpleLibraryCore" enabled="true"/>

    <defaultEndpoint>
      <bindingNameRef>_DefaultBinding</bindingNameRef>
      <bindingType name="System.ServiceModel.WSHttpBinding, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <address></address>

      <endpointConfiguratorType name="SimpleLibrary.ServiceModel.DataContractConfigurator, SimpleLibraryCore"/>
      <endpointConfiguratorType name="SimpleLibrary.ServiceModel.DefaultFaultsConfigurator, SimpleLibraryCore"/>
      <endpointConfiguratorType name="SimpleLibrary.ServiceModel.OperationContextConfigurator, SimpleLibraryCore"/>
      <!--<endpointConfiguratorType name="SimpleLibrary.ServiceModel.CredentialsServiceConfigurator, SimpleLibraryCore"/>-->
    </defaultEndpoint>

    <additionalEndpoints/>
  </serviceModel>

  <threading>
    <lockingProvider>
      <tableName>instance_state</tableName>
      <typeColumn>type</typeColumn>
      <idColumn>id</idColumn>
      <semaphoreColumn>semaphore</semaphoreColumn>
      <dataColumn>data</dataColumn>
      <defaultTimeout>30</defaultTimeout>
    </lockingProvider>
  </threading>

  <dataConfig>
    <options mergeBeforeUpdate="false"/>

    <defaultSessionFactory configFile="NHibernate.config"/>

    <!--<sessionFactory configFile="OtherSession.config" name="otherSession"/>-->
  </dataConfig>
</simpleLibrary>