<?xml version="1.0" encoding="utf-8" ?>
<testConfig>
  <aSampleString>asd</aSampleString>
  
  <listOfStrings>
    <aString>123</aString>
    <aString>456</aString>
  </listOfStrings>

  <dictionary>
    <valor name="qualquer">123</valor>
    <valor name="qualquer2">123</valor>
  </dictionary>

  <localized for="Russia">
    <listOfStrings>
      <aString>asd</aString>
    </listOfStrings>

    <dictionary>
      <valor name="qualquer">123456</valor>
    </dictionary>
  </localized>
</testConfig>