<generator>
  <rulesDirectory>Sample.BusinessServer/Rules</rulesDirectory>
  <domainDirectory>Sample.BusinessInterface/Domain</domainDirectory>
  <domainNamespace>Teste.Ok2</domainNamespace>
  <rulesInterfacesNamespace>Teste.Ok</rulesInterfacesNamespace>
  <rulesInterfacesGeneratedFile>_IRules.gen.cs</rulesInterfacesGeneratedFile>
</generator>