<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Simple.Generator.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=VM-001-NONAME\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Simple.Generator.Properties.Settings.NorthwindConnectionString1"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=Northwind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>